Repository deuill/slidge-whatsapp: changes, and which Woodpecker steps are due for each by the changed paths.
All: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

Path conditions:
  container-ci: any of: Dockerfile, pyproject.toml, uv.lock
  build-ci: any of: slidge_whatsapp/**, Dockerfile, pyproject.toml, .woodpecker/container.yaml
  docs: any of: slidge-whatsapp/**/*.py, docs/**/*, uv.lock, .woodpecker/docs.yaml
  publish: any of: slidge-whatsapp/**/*.py, docs/**/*, uv.lock, .woodpecker/docs.yaml
  package: any of: slidge_whatsapp/**/*, pyproject.toml, README.md
  codeberg-pypi: any of: slidge_whatsapp/**/*, pyproject.toml, README.md
  pypi: any of: slidge_whatsapp/**/*, pyproject.toml, README.md
  codeberg-release: any of: slidge_whatsapp/**/*, pyproject.toml, README.md
  test: any of: pyproject.toml, uv.lock, **/*.py

WIP: Unify address handling
  slidge_whatsapp/contact.py
  slidge_whatsapp/event.go
  slidge_whatsapp/gateway.go
  slidge_whatsapp/go.mod
  slidge_whatsapp/group.py
  slidge_whatsapp/mixins.py
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
  slidge_whatsapp/types.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

refactor: use update_info_args from slidge >= 0.5.1
  pyproject.toml
  slidge_whatsapp/contact.py
  slidge_whatsapp/group.py
  slidge_whatsapp/mixins.py
  slidge_whatsapp/session.py
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

chore: bump whatsmeow
  slidge_whatsapp/go.mod
  slidge_whatsapp/go.sum
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/appstate.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/client.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/download.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/group.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/handshake.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/internals.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/message.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/notification.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/pair.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waAICommon/WAWebProtobufsAICommon.pb.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waAICommon/WAWebProtobufsAICommon.proto
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waCommon/WACommon.pb.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waCommon/WACommon.proto
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waDeviceCapabilities/WAWebProtobufsDeviceCapabilities.pb.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waDeviceCapabilities/WAWebProtobufsDeviceCapabilities.proto
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waE2E/WAWebProtobufsE2E.pb.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waE2E/WAWebProtobufsE2E.proto
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waHistorySync/WAWebProtobufsHistorySync.pb.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waHistorySync/WAWebProtobufsHistorySync.proto
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waSyncAction/WAWebProtobufSyncAction.pb.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waSyncAction/WAWebProtobufSyncAction.proto
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waWa6/WAWebProtobufsWa6.pb.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waWa6/WAWebProtobufsWa6.proto
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waWeb/WAWebProtobufsWeb.pb.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waWeb/WAWebProtobufsWeb.proto
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/qrchan.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/send.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/socket/noisehandshake.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/socket/noisesocket.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/store/clientpayload.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/store/sqlstore/store.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/types/events/events.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/types/jid.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/types/message.go
  slidge_whatsapp/vendor/modules.txt
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release

perf: disable thread-related storage
  slidge_whatsapp/gateway.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

chore(audit): bump soupsieve
  uv.lock
Due: container-ci, docs, publish, test

fix: register slidge-whatsapp commands
  slidge_whatsapp/gateway.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

fix: Correctly close presence Goroutine in logout
  slidge_whatsapp/event.go
  slidge_whatsapp/gateway.py
  slidge_whatsapp/session.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

chore: Update Python dependencies
  uv.lock
Due: container-ci, docs, publish, test

fix: Set duration on outgoing presence status text
  slidge_whatsapp/go.mod
  slidge_whatsapp/session.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release

chore: fix mypy and ruff
  build.py
  pyproject.toml
  slidge_whatsapp/__init__.py
  slidge_whatsapp/gateway.py
  slidge_whatsapp/group.py
  watcher.py
Due: container-ci, build-ci, package, codeberg-pypi, pypi, codeberg-release, test

WIP: Unify address handling
  slidge_whatsapp/contact.py
  slidge_whatsapp/event.go
  slidge_whatsapp/gateway.go
  slidge_whatsapp/group.py
  slidge_whatsapp/mixins.py
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
  slidge_whatsapp/types.go
  tests/test_whatsapp.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

WIP: More stuff
  slidge_whatsapp/types.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release
