Repository deuill/slidge-whatsapp: changes, and which Woodpecker steps are due for each by the changed paths.
All: container-ci, container, build-tag, build-branch, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

Path conditions:
  container-ci: any of: Dockerfile, pyproject.toml, uv.lock
  container: any of: slidge-whatsapp/**, Dockerfile, pyproject.toml, uv.lock
  build-tag: any of: slidge-whatsapp/**, Dockerfile, pyproject.toml, uv.lock
  build-branch: any of: slidge-whatsapp/**, Dockerfile, pyproject.toml, uv.lock
  build-ci: any of: slidge-whatsapp/**, Dockerfile, pyproject.toml, uv.lock
  docs: any of: slidge-whatsapp/**/*.py, docs/**/*, uv.lock, .woodpecker/docs.yaml
  publish: any of: slidge-whatsapp/**/*.py, docs/**/*, uv.lock, .woodpecker/docs.yaml
  package: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  codeberg-pypi: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  pypi: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  codeberg-release: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  test: any of: pyproject.toml, uv.lock, **/*.py

build(lockfile): automatic update
  uv.lock
Due: container-ci, container, build-tag, build-branch, build-ci, docs, publish, test

Clean up getPreferredSender
  slidge_whatsapp/event.go
Due: none

feat: Handle incoming invite links
  slidge_whatsapp/event.go
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
Due: test

feat: Upgrade to Slidge 0.3 beta
  .copier-answers.yml
  pyproject.toml
  slidge_whatsapp/contact.py
  slidge_whatsapp/gateway.py
  slidge_whatsapp/group.py
  uv.lock
Due: container-ci, container, build-tag, build-branch, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

feat: Skip existing historical messages
  slidge_whatsapp/event.go
  slidge_whatsapp/session.py
Due: test

feat: Add reason to logout events
  slidge_whatsapp/contact.py
  slidge_whatsapp/event.go
  slidge_whatsapp/group.py
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
Due: test

chore: update to slidge v0.3+
  slidge_whatsapp/gateway.py
  slidge_whatsapp/group.py
  slidge_whatsapp/session.py
Due: test

chore: update to slidge v0.3+
  slidge_whatsapp/gateway.py
  slidge_whatsapp/group.py
  slidge_whatsapp/session.py
  uv.lock
Due: container-ci, container, build-tag, build-branch, build-ci, docs, publish, test

cfix(d25758c3): add missing await
  slidge_whatsapp/group.py
Due: test

cfix(d25758c3): add another missing await
  slidge_whatsapp/session.py
Due: test

feat: Improve handling event debug logs
  slidge_whatsapp/gateway.go
  slidge_whatsapp/session.go
Due: none

fix: Prevent anonymous contacts in roster
  slidge_whatsapp/contact.py
  slidge_whatsapp/event.go
  slidge_whatsapp/gateway.go
  slidge_whatsapp/group.py
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
Due: test

fix: Simplify topic sender name resolution
  slidge_whatsapp/event.go
  slidge_whatsapp/group.py
  slidge_whatsapp/session.go
Due: test

fix: Fix missing context in `newGroupParticipant`
  slidge_whatsapp/event.go
Due: none

feat: Handle incoming invite links
  slidge_whatsapp/event.go
  slidge_whatsapp/session.py
Due: test

fix(woodpecker): Specify Docker BuildX image tag
  .woodpecker/container.yaml
Due: none

chore: Update to latest Python dependencies
  uv.lock
Due: container-ci, container, build-tag, build-branch, build-ci, docs, publish, test

fix: Pass context to `CreateGroup` calls
  slidge_whatsapp/session.go
Due: none

ci: disable c3p0 lockfile updates
  .copier-answers.yml
  .woodpecker/autoupdate-deps.yaml
  .woodpecker/container.yaml
  Dockerfile
Due: container-ci, container, build-tag, build-branch, build-ci

build(container): do not use lockfile
  .copier-answers.yml
  Dockerfile
Due: container-ci, container, build-tag, build-branch, build-ci

cfix(22f4c6cb): specify docker-buildx version
  .woodpecker/container.yaml
Due: none

fix: Handle more anonymous participant use-cases
  slidge_whatsapp/event.go
  slidge_whatsapp/session.go
Due: none

fix: Implement more LID-to-JID conversion fixes
  slidge_whatsapp/contact.py
  slidge_whatsapp/event.go
Due: test

Improve handling of LIDs in replies, mentions
  slidge_whatsapp/event.go
  slidge_whatsapp/session.go
Due: none

chore(copier): sync with latest template
  .copier-answers.yml
  .woodpecker/container.yaml
  Dockerfile
  docs/source/admin/install.rst
  pyproject.toml
Due: container-ci, container, build-tag, build-branch, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test
