Repository deuill/slidge-whatsapp: changes, and which Woodpecker steps are due for each by the changed paths.
All: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

Path conditions:
  container-ci: any of: Dockerfile, pyproject.toml, uv.lock
  build-ci: any of: slidge_whatsapp/**, Dockerfile, pyproject.toml, .woodpecker/container.yaml
  docs: any of: slidge-whatsapp/**/*.py, docs/**/*, uv.lock, .woodpecker/docs.yaml
  publish: any of: slidge-whatsapp/**/*.py, docs/**/*, uv.lock, .woodpecker/docs.yaml
  package: any of: slidge_whatsapp/**/*, pyproject.toml, README.md
  codeberg-pypi: any of: slidge_whatsapp/**/*, pyproject.toml, README.md
  pypi: any of: slidge_whatsapp/**/*, pyproject.toml, README.md
  codeberg-release: any of: slidge_whatsapp/**/*, pyproject.toml, README.md
  test: any of: pyproject.toml, uv.lock, **/*.py

chore: Update Python dependencies
  pyproject.toml
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

feat(media): Handle multiple streams in spec
  slidge_whatsapp/media/media.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release

feat: link previews from WhatsApp to XMPP
  pyproject.toml
  slidge_whatsapp/event.go
  slidge_whatsapp/session.py
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

cfix(bac6ce8): fix bytes conversion
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

chore(copier): bump
  .copier-answers.yml
  .woodpecker/container.yaml
  docs/source/admin/install.rst
  docs/source/index.rst
Due: build-ci, docs, publish

fix: Improve incoming invite handling
  slidge_whatsapp/event.go
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

feat: Make some gateway-wide prefs user-specific
  slidge_whatsapp/config.py
  slidge_whatsapp/contact.py
  slidge_whatsapp/gateway.py
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

chore: update type hints for slidge 0.3.8
  slidge_whatsapp/command.py
  slidge_whatsapp/contact.py
  slidge_whatsapp/group.py
  slidge_whatsapp/session.py
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

imprv: re-sync contacts after roster policy change
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

ci: fix building latest container
  .woodpecker/container.yaml
Due: build-ci

build(container): respect version constraints with SLIDGE_PRERELEASE=1
  Dockerfile
Due: container-ci, build-ci

build(container): use "latest-amd64" tag and not just "latest"
  .woodpecker/container.yaml
Due: build-ci

chore: add ruff linting rules
  build.py
  pyproject.toml
  slidge_whatsapp/__init__.py
  slidge_whatsapp/avatar.py
  slidge_whatsapp/command.py
  slidge_whatsapp/contact.py
  slidge_whatsapp/gateway.py
  slidge_whatsapp/group.py
  slidge_whatsapp/session.py
  watcher.py
Due: container-ci, build-ci, package, codeberg-pypi, pypi, codeberg-release, test

chore: pass mypy --strict
  pyproject.toml
  slidge_whatsapp/command.py
  slidge_whatsapp/contact.py
  slidge_whatsapp/gateway.py
  slidge_whatsapp/group.py
  slidge_whatsapp/session.py
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

chore: migrate to slidge core v0.4
  pyproject.toml
  slidge_whatsapp/avatar.py
  slidge_whatsapp/command.py
  slidge_whatsapp/contact.py
  slidge_whatsapp/gateway.py
  slidge_whatsapp/group.py
  slidge_whatsapp/mixins.py
  slidge_whatsapp/session.py
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

chore: remove dead code for 0.2 migration
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

chore: bump python deps
  uv.lock
Due: container-ci, docs, publish, test

cfix(d1fd0f1): use space instead of newline to separate container tags
  .woodpecker/container.yaml
Due: build-ci

chore(deps): pin released version
  pyproject.toml
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

chore(copier): bump
  .copier-answers.yml
  .woodpecker/container.yaml
  docs/source/admin/config.rst
  docs/source/admin/install-custom.rst
  docs/source/admin/privileges.rst
Due: build-ci, docs, publish

chore: remove deprecated Gateway.DB_POOL_SIZE attribute
  slidge_whatsapp/gateway.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

chore(deps): pin non-dev versions
  pyproject.toml
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

cfix(7c860bf4): handle message with attachment + body
  slidge_whatsapp/mixins.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

ci: run tests on go files modifications
  .woodpecker/test.yaml
Due: none

build: pin slidge > 0.4.1
  pyproject.toml
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

ci: audit dependencies
  .copier-answers.yml
  .woodpecker/audit-dependencies.yaml
Due: none

chore: update to slidge core 0.4.1
  slidge_whatsapp/mixins.py
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

fix: prevent edits and retractions above whatsapp time limits
  slidge_whatsapp/mixins.py
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

chore: remove dead code
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

perf: write attachments > 10 MB on disk (instead of RAM)
  slidge_whatsapp/event.go
  slidge_whatsapp/media/media.go
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

build: simplify slidge prerelease logic
  Dockerfile
  pyproject.toml
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

chore(lockfile): bump aiohttp
  uv.lock
Due: container-ci, docs, publish, test

chore(copier): bump
  .copier-answers.yml
  .forgejo/issue_template/bug-report.yml
  .forgejo/issue_template/feature_request.yml
  .woodpecker/container.yaml
  Dockerfile
  docs/source/conf.py
  slidge_whatsapp/__init__.py
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

chore: bump slidge to 0.5
  pyproject.toml
  slidge_whatsapp/__init__.py
  slidge_whatsapp/contact.py
  slidge_whatsapp/gateway.py
  slidge_whatsapp/group.py
  slidge_whatsapp/mixins.py
  slidge_whatsapp/session.py
  tests/test_base.py
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

cfix(66dd49e): add required qr extra
  pyproject.toml
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

chore(copier): bump
  .copier-answers.yml
  .pre-commit-config.yaml
  .woodpecker/package.yaml
Due: none
