Repository deuill/slidge-whatsapp: changes, and which Woodpecker steps are due for each by the changed paths.
All: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

container-ci:
  steps:
    build-and-push:
      image: woodpeckerci/plugin-docker-buildx
      settings:
        platforms: linux/${ARCH}
        repo: codeberg.org/${CI_REPO_OWNER}/woodpecker-${CI_REPO_NAME}
        registry: codeberg.org
        tag: ${PYTHON_VERSION}-${ARCH}
        target: woodpecker-${CI_REPO_NAME}
  ...

build-ci:
  image: woodpeckerci/plugin-docker-buildx:6.0.2
  settings:
    repo: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp
    username: ${CI_REPO_OWNER}
    password:
      from_secret: CODEBERG_TOKEN
    registry: codeberg.org
    target: ci
    cache_images:
  ...

docs:
  steps:
    build:
      image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-amd64
      pull: true
      commands:
      - uv sync --all-groups --all-extras
      - cd docs && make html
    publish:
      image: codeberg.org/slidge/woodpecker-publish-pages
      pull: true
      when:
        event:
        - push
  ...

publish:
  image: codeberg.org/slidge/woodpecker-publish-pages
  pull: true
  settings:
    token:
      from_secret: CODEBERG_TOKEN

package:
  steps:
    changelog:
      image: codeberg.org/slidge/woodpecker-generate-changelog
      pull: true
    build:
      image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-${ARCH}
      commands:
      - uv python install ${PYTHON_VERSION}
      - uv python pin ${PYTHON_VERSION}
      - uv build
    codeberg-pypi:
  ...

codeberg-pypi:
  image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-${ARCH}
  depends_on: build
  environment:
    CODEBERG_TOKEN:
      from_secret: CODEBERG_TOKEN
  commands:
  - uv publish --index codeberg --token $CODEBERG_TOKEN dist/*.whl
  ...

pypi:
  image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-${ARCH}
  depends_on: build
  environment:
    PYPI_TOKEN:
      from_secret: PYPI_TOKEN
  commands:
  - uv publish --token $PYPI_TOKEN dist/*.whl
  - uv publish --token $PYPI_TOKEN dist/*.tar.gz || echo "Failed to upload sdist."

codeberg-release:
  image: woodpeckerci/plugin-release
  depends_on:
  - changelog
  - build
  settings:
    files:
    - dist/slidge-whatsapp*
    api_key:
      from_secret: CODEBERG_TOKEN
    note: CHANGELOG

test:
  steps:
    update-venv:
      image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-amd64
      pull: true
      commands:
      - cp -r /venv .venv
      - uv sync --link-mode=copy --all-groups --all-extras
    ruff:
      image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-amd64
      depends_on: update-venv
  ...

chore: Add missing vendored dependencies
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/store/sessioncache.go
  slidge_whatsapp/vendor/golang.org/x/net/http2/config_go125.go
  slidge_whatsapp/vendor/golang.org/x/net/http2/config_go126.go
  slidge_whatsapp/vendor/golang.org/x/net/http2/writesched_priority_rfc7540.go
  slidge_whatsapp/vendor/golang.org/x/net/http2/writesched_priority_rfc9128.go
Due: build-ci

chore: Move Docker images to Trixie, Python 3.13
  .copier-answers.yml
  .woodpecker/package.yaml
  Dockerfile
  pyproject.toml
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

chore: Fix CI package builds for Python 3.11
  .woodpecker/package.yaml
  pyproject.toml
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

chore(Dockerfile): Really use correct Python version
  Dockerfile
Due: container-ci, build-ci

chore: Don't use static MuPDF libraries in builds
  build.py
  watcher.py
Due: test

chore(Dockerfile): Add MuPDF libraries for prod
  Dockerfile
Due: container-ci, build-ci

fix: Downgrade to slixmpp 1.11.0
  .copier-answers.yml
  pyproject.toml
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

build: unpin slixmpp==1.11
  .copier-answers.yml
  pyproject.toml
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

fix(presences): use JID instead of LID
  slidge_whatsapp/event.go
  slidge_whatsapp/session.go
Due: build-ci

fix: always reply with error to XMPP events to LID contacts
  slidge_whatsapp/contact.py
Due: build-ci, test

imprv: assume contacts are online before receiving actual presence
  slidge_whatsapp/contact.py
Due: build-ci, test

feat: Handle more cases of LIDs in presences, history
  .copier-answers.yml
  pyproject.toml
  slidge_whatsapp/contact.py
  slidge_whatsapp/event.go
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
Due: container-ci, build-ci, package, codeberg-pypi, pypi, codeberg-release, test

imprv: use correction event IDs for message corrections
  slidge_whatsapp/event.go
  slidge_whatsapp/session.py
Due: build-ci, test

fix: reduce duplicate MAM rows and useless whatsapp history requests
  slidge_whatsapp/group.py
  slidge_whatsapp/session.py
Due: build-ci, test

Only add whatsapp contacts to the roster.
  slidge_whatsapp/contact.py
  slidge_whatsapp/event.go
Due: build-ci, test

feat: Make adding group participants to roster configurable
  slidge_whatsapp/config.py
  slidge_whatsapp/contact.py
  slidge_whatsapp/event.go
Due: build-ci, test

fix: considered slidge session logged out after last QR is sent
  slidge_whatsapp/session.go
Due: build-ci

imprv: consider contact "online" when they interact via WhatsApp client
  slidge_whatsapp/group.py
  slidge_whatsapp/session.py
Due: build-ci, test

cfix(18546958): attribute error on user self receipts
  slidge_whatsapp/group.py
Due: build-ci, test

fix: Instantiate session-wide context on login
  slidge_whatsapp/gateway.go
  slidge_whatsapp/session.go
Due: build-ci

docs: do not rely on slidge core docs, include everything
  .copier-answers.yml
  README.md
  docs/source/admin/attachments.rst
  docs/source/admin/config.rst
  docs/source/admin/examples/ejabberd.yaml
  docs/source/admin/examples/index.rst
  docs/source/admin/examples/prosody-noupload.cfg.lua
  docs/source/admin/examples/prosody-upload.cfg.lua
  docs/source/admin/index.rst
  docs/source/admin/install.rst
  docs/source/admin/privileges.rst
  docs/source/admin/quickstart.rst
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/index.rst
  docs/source/user/features.rst
  docs/source/user/index.rst
  docs/source/user/registration.rst
Due: docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

build(container): use lockfile for CI and tagged releases
  .woodpecker/container.yaml
  Dockerfile
Due: container-ci, build-ci

DELETEME! some debug prints
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
Due: build-ci, test

imprv(log): silence warnings about anonymous participants
  slidge_whatsapp/gateway.py
Due: build-ci, test

fix: correctly set muc type to private groups
  slidge_whatsapp/group.py
Due: build-ci, test

cfix(3e84ab29): fix warnings filter regex
  slidge_whatsapp/gateway.py
Due: build-ci, test

chore(copier): bump
  .copier-answers.yml
  docs/source/admin/attachments.rst
  docs/source/admin/config.rst
  docs/source/admin/examples/index.rst
  docs/source/admin/install-custom.rst
  docs/source/admin/install.rst
  docs/source/user/registration.rst
Due: docs, publish

build(go): avoid building when not necessary
  .gitignore
  build.py
Due: test

cfix(0ada4881): re-build when vendored dependencies change
  build.py
Due: test

chore(lockfile): bump
  uv.lock
Due: container-ci, docs, publish, test

refactor: remove dead code
  slidge_whatsapp/group.py
Due: build-ci, test

refactor: split Participant.update_wa_info() from MUC.update_wa_info()
  slidge_whatsapp/group.py
Due: build-ci, test

refactor: split Contact.update_wa_info() from Roster.add_wa_contact()
  slidge_whatsapp/contact.py
Due: build-ci, test

refactor: use MUC._ALL_INFO_FILLED_ON_STARTUP = True
  pyproject.toml
  slidge_whatsapp/group.py
  slidge_whatsapp/session.py
Due: container-ci, build-ci, package, codeberg-pypi, pypi, codeberg-release, test

refactor: remove useless roster handling
  pyproject.toml
  slidge_whatsapp/contact.py
  slidge_whatsapp/session.py
Due: container-ci, build-ci, package, codeberg-pypi, pypi, codeberg-release, test

Path conditions:
  container-ci: any of: Dockerfile, pyproject.toml, uv.lock
  build-ci: any of: slidge_whatsapp/**, Dockerfile, pyproject.toml, .woodpecker/container.yaml
  docs: any of: slidge-whatsapp/**/*.py, docs/**/*, uv.lock, .woodpecker/docs.yaml
  publish: any of: slidge-whatsapp/**/*.py, docs/**/*, uv.lock, .woodpecker/docs.yaml
  package: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  codeberg-pypi: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  pypi: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  codeberg-release: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  test: any of: pyproject.toml, uv.lock, **/*.py
