Repository deuill/slidge-whatsapp: changes, and which Woodpecker steps are due for each by the changed paths.
All: container, build, build-and-push, docs, publish, package, codeberg-pypi

.woodpecker/container.yaml:

# Build the production container

when:
  event: [ push, pull_request, tag ]
  path: [ "slidge_whatsapp/**/*", pyproject.toml, uv.lock, Dockerfile ]

variables:
  - &settings
    registry: codeberg.org
    tags_file: .tags
    target: ${CI_REPO_NAME}
    platforms: linux/amd64  #,linux/arm64  # arm64 builds are disabled because it's just too slow!
    # Unfortunately we can only a single build cache image,
    # cf https://codeberg.org/woodpecker-plugins/docker-buildx/pulls/186
    # since codeberg CI is amd64-only let's use the cache for the arm64 platformâ€¦
#    cache_from: type=registry,ref=codeberg.org/${CI_REPO_OWNER}/${CI_REPO_NAME}:buildcache-arm64

steps:
  version:
    image: codeberg.org/slidge/woodpecker-version
    pull: true

  build:
    image: woodpeckerci/plugin-docker-buildx
    settings:
      dry_run: true
      <<: *settings
    when:
      event: pull_request

  build-and-push:
    image: woodpeckerci/plugin-docker-buildx
    settings:
      repo: codeberg.org/${CI_REPO_OWNER}/${CI_REPO_NAME}
      username: ${CI_REPO_OWNER}
      password:
        from_secret: CODEBERG_TOKEN
      <<: *settings
    when:
      event: [ push, tag ]

.woodpecker/docs.yaml:

when:
  event: [ push, tag, pull_request ]
  path: [ "slidge_whatsapp/**/*.py", "docs/**/*", ".woodpecker/docs.yaml" ]

steps:
  build:
    image: codeberg.org/slidge/woodpecker-${CI_REPO_NAME}
    pull: true
    commands:
      # the first command updates the virtualenv, which is a no-op unless uv.lock has been modified
      - uv sync --frozen --all-groups --no-install-project
      - cd docs
      - make html

  publish:
    image: codeberg.org/slidge/woodpecker-publish-pages
    pull: true
    when:
      event: [ push, tag ]
    settings:
      token:
        from_secret: CODEBERG_TOKEN

.woodpecker/package.yaml:

when:
  event: [ push, pull_request ]
  path: [ "slidge_whatsapp/**/*", "pyproject.toml", "uv.lock" ]

variables:
  - &image codeberg.org/slidge/woodpecker-${CI_REPO_NAME}

steps:
  version:
    image: codeberg.org/slidge/woodpecker-version

  changelog:
    image: codeberg.org/slidge/woodpecker-generate-changelog
    pull: true

  build:
    image: *image
    commands: uv build

  codeberg-pypi:
    when:
      event: push
    image: *image
    environment:
      CODEBERG_TOKEN:
        from_secret: CODEBERG_TOKEN
    commands:
      - uv publish --index codeberg --token $CODEBERG_TOKEN

build(lockfile): automatic update
  uv.lock
Due: container, build, build-and-push, package, codeberg-pypi

chore: use our brand new and shiny copier template
  .copier-answers.yml
  .woodpecker/autoupdate-deps.yaml
  .woodpecker/docs.yaml
  .woodpecker/package.yaml
  .woodpecker/test.yaml
  README.md
  commitlint.config.js
  docs/source/conf.py
  docs/source/index.rst
  pyproject.toml
  slidge_whatsapp/__init__.py
  uv.lock
Due: container, build, build-and-push, docs, publish, package, codeberg-pypi

re-enable arm
  .woodpecker/container-cache.yaml
  .woodpecker/container-ci.yaml
  .woodpecker/container.yaml
  .woodpecker/package-tag.yaml
Due: none

re-enable arm
  .woodpecker/container-cache.yaml
  .woodpecker/container-ci.yaml
  .woodpecker/container.yaml
Due: none

re-enable arm
  .woodpecker/package-tag.yaml
Due: none

docs(readme): explain the container tags
  .copier-answers.yml
  README.md
Due: none

ci: build wheels on arm agent
  .woodpecker/container-ci.yaml
  .woodpecker/container.yaml
  .woodpecker/docs.yaml
  .woodpecker/package-tag.yaml
  .woodpecker/package.yaml
  Dockerfile
Due: container, build, build-and-push, docs, publish

chore(copier): update template
  .copier-answers.yml
  .woodpecker/container-cache.yaml
  .woodpecker/container-ci.yaml
  .woodpecker/container.yaml
  .woodpecker/package.yaml
  README.md
Due: none

build: check if the go executable is present in $PATH
  build.py
Due: none

chore(copier): update answers for new version of template
  .copier-answers.yml
Due: none

chore(copier): update templated files
  .copier-answers.yml
  .pre-commit-config.yaml
  .woodpecker/container-ci.yaml
  .woodpecker/container.yaml
  .woodpecker/docs.yaml
  .woodpecker/package.yaml
  .woodpecker/test.yaml
  Dockerfile
  README.md
  docker-compose.yml
  docs/source/config.rst
  pyproject.toml
  slidge_whatsapp/__init__.py
  slidge_whatsapp/__version__.py
  uv.lock
Due: container, build, build-and-push, docs, publish, package, codeberg-pypi

deleteme!
  .woodpecker/container.yaml
Due: none

fixup! chore(copier): update templated files
  .copier-answers.yml
  .pre-commit-config.yaml
  .woodpecker/autoupdate-deps.yaml
  .woodpecker/container.yaml
  .woodpecker/docs.yaml
  .woodpecker/package.yaml
  .woodpecker/test.yaml
  Dockerfile
  README.md
  commitlint.config.js
  docker-compose.yml
  docs/source/conf.py
  docs/source/config.rst
  docs/source/index.rst
  slidge_whatsapp/__init__.py
  slidge_whatsapp/__main__.py
Due: container, build, build-and-push, docs, publish, package, codeberg-pypi

fixup! fixup! chore(copier): update templated files
  pyproject.toml
  uv.lock
Due: container, build, build-and-push, package, codeberg-pypi

chore(copier): update templated files
  .copier-answers.yml
  .pre-commit-config.yaml
  .woodpecker/autoupdate-deps.yaml
  .woodpecker/container-ci.yaml
  .woodpecker/container.yaml
  .woodpecker/docs.yaml
  .woodpecker/package.yaml
  .woodpecker/test.yaml
  Dockerfile
  README.md
  commitlint.config.js
  docker-compose.yml
  docs/source/conf.py
  docs/source/config.rst
  pyproject.toml
  slidge_whatsapp/__init__.py
  slidge_whatsapp/__main__.py
  slidge_whatsapp/__version__.py
  uv.lock
Due: container, build, build-and-push, docs, publish, package, codeberg-pypi

chore(copier): update templated files
  .copier-answers.yml
  .woodpecker/package.yaml
  pyproject.toml
  slidge_whatsapp/__init__.py
  slidge_whatsapp/__version__.py
Due: container, build, build-and-push, docs, publish, package, codeberg-pypi

chore(copier): update templated files
  .copier-answers.yml
  .woodpecker/package.yaml
  Dockerfile
  pyproject.toml
  slidge_whatsapp/__init__.py
  slidge_whatsapp/__version__.py
Due: container, build, build-and-push, docs, publish, package, codeberg-pypi

fix: compat with slidge >= 0.2.9
  .copier-answers.yml
  .woodpecker/docs.yaml
  .woodpecker/package.yaml
  .woodpecker/test.yaml
  slidge_whatsapp/__init__.py
Due: container, build, build-and-push, docs, publish, package, codeberg-pypi

ci: fix container build
  .copier-answers.yml
  .woodpecker/container.yaml
  README.md
Due: none
