Repository deuill/slidge-whatsapp: changes, and which Woodpecker steps are due for each by the changed paths.
All: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

container-ci:
  steps:
    build-and-push:
      image: woodpeckerci/plugin-docker-buildx
      settings:
        platforms: linux/${ARCH}
        repo: codeberg.org/${CI_REPO_OWNER}/woodpecker-${CI_REPO_NAME}
        registry: codeberg.org
        tag: ${PYTHON_VERSION}-${ARCH}
        target: woodpecker-${CI_REPO_NAME}
  ...

build-ci:
  image: woodpeckerci/plugin-docker-buildx:6.0.2
  settings:
    repo: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp
    username: ${CI_REPO_OWNER}
    password:
      from_secret: CODEBERG_TOKEN
    registry: codeberg.org
    target: ci
    cache_images:
  ...

docs:
  steps:
    build:
      image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-amd64
      pull: true
      commands:
      - uv sync --all-groups --all-extras
      - cd docs && make html
    publish:
      image: codeberg.org/slidge/woodpecker-publish-pages
      pull: true
      when:
        event:
        - push
  ...

publish:
  image: codeberg.org/slidge/woodpecker-publish-pages
  pull: true
  settings:
    token:
      from_secret: CODEBERG_TOKEN

package:
  steps:
    changelog:
      image: codeberg.org/slidge/woodpecker-generate-changelog
      pull: true
    build:
      image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-${ARCH}
      pull: true
      commands:
      - uv python install ${PYTHON_VERSION}
      - uv python pin ${PYTHON_VERSION}
      - uv build
  ...

codeberg-pypi:
  image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-${ARCH}
  depends_on: build
  environment:
    CODEBERG_TOKEN:
      from_secret: CODEBERG_TOKEN
  commands:
  - uv publish --index codeberg --token $CODEBERG_TOKEN dist/*.whl
  ...

pypi:
  image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-${ARCH}
  depends_on: build
  environment:
    PYPI_TOKEN:
      from_secret: PYPI_TOKEN
  commands:
  - uv publish --token $PYPI_TOKEN dist/*.whl
  - uv publish --token $PYPI_TOKEN dist/*.tar.gz || echo "Failed to upload sdist."

codeberg-release:
  image: woodpeckerci/plugin-release
  depends_on:
  - changelog
  - build
  settings:
    files:
    - dist/slidge-whatsapp*
    api_key:
      from_secret: CODEBERG_TOKEN
    note: CHANGELOG

test:
  steps:
    update-venv:
      image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-amd64
      pull: true
      commands:
      - cp -r /venv .venv
      - uv sync --link-mode=copy --all-groups --all-extras
    ruff:
      image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-amd64
      depends_on: update-venv
  ...

chore: bump slidge version
  pyproject.toml
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

test: actually use ruff linter
  pyproject.toml
  slidge_whatsapp/contact.py
  slidge_whatsapp/group.py
  slidge_whatsapp/session.py
Due: container-ci, build-ci, package, codeberg-pypi, pypi, codeberg-release, test

fix: allow re-login after QR scan times out
  slidge_whatsapp/session.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release

imprv: wait for slidge to be ready before processing WA event
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

cfix(1ac00824): add some less useless doc comments
  slidge_whatsapp/event.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release

cfix(1ac00824): dedent one level
  slidge_whatsapp/group.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

cfix(1ac00824): use newChat() constructor for history messages
  slidge_whatsapp/event.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release

cfix(33dba121): do not subscribe in GetContacts
  slidge_whatsapp/contact.py
  slidge_whatsapp/session.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

cfix(7f09ffe1): do not check if client is connected in QR code channel
  slidge_whatsapp/session.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release

cfix(272e50fe): refactor using a throttled goroutines
  slidge_whatsapp/avatar.py
  slidge_whatsapp/session.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

cfix(04f07a19): hardcode event kind to event handler mapping
  slidge_whatsapp/event.go
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

refactor: split on_wa_message() into smaller parts
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

refactor: use match/case for event and message kinds
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

chore(lockfile): bump
  pyproject.toml
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

chore: remove misleading comment
  Dockerfile
Due: container-ci, build-ci

cfix(139d5366): do not expect @lid suffix in mentions
  slidge_whatsapp/group.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

cfix(1ac00824): ignore LID 1:1 chat states
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

cfix(28fc7172): add long comment
  slidge_whatsapp/gateway.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

chore: remove debug print statement
  slidge_whatsapp/session.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release

cfix(1ac00824): set timestamp for outgoing displayed receipts
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

fix: handling of new contacts
  slidge_whatsapp/contact.py
  slidge_whatsapp/event.go
  slidge_whatsapp/group.py
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

cfix(a0601135): ignore contact events without valid JID or LID
  slidge_whatsapp/event.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release

cfix(139d5366): fix @phone incoming mentions
  slidge_whatsapp/contact.py
  slidge_whatsapp/group.py
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

cfix(a0601135): log a warning on unnamed contact
  slidge_whatsapp/event.go
  slidge_whatsapp/session.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release

chore(lockfile): bump
  uv.lock
Due: container-ci, docs, publish, test

fix: Improve instantiation for Chat and Actor
  slidge_whatsapp/event.go
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release

chore: bump go dependencies
  slidge_whatsapp/go.mod
  slidge_whatsapp/go.sum
  slidge_whatsapp/vendor/go.mau.fi/util/exhttp/config.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/appstate.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/appstate/decode.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/appstate/hash.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/client.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/internals.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waE2E/WAWebProtobufsE2E.pb.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waE2E/WAWebProtobufsE2E.proto
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/retry.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/send.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/socket/noisesocket.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/store/clientpayload.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/store/noop.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/store/sqlstore/store.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/store/store.go
  slidge_whatsapp/vendor/golang.org/x/net/http2/writesched_priority_rfc9218.go
  slidge_whatsapp/vendor/modules.txt
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release

fix: searching contacts
  slidge_whatsapp/session.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

fix: changing affiliations of participants
  slidge_whatsapp/group.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

imprv: allow making members "owner"
  slidge_whatsapp/group.py
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release, test

chore: bump whatsmeow
  slidge_whatsapp/go.mod
  slidge_whatsapp/go.sum
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/appstate.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/appstate/decode.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/appstate/encode.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/appstate/keys.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/appstate/recovery.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/message.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waE2E/WAWebProtobufsE2E.pb.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waE2E/WAWebProtobufsE2E.proto
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waSyncAction/WAWebProtobufSyncAction.pb.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waSyncAction/WAWebProtobufSyncAction.proto
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waSyncdSnapshotRecovery/WAWebProtobufsSyncdSnapshotRecovery.pb.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/proto/waSyncdSnapshotRecovery/WAWebProtobufsSyncdSnapshotRecovery.proto
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/store/clientpayload.go
  slidge_whatsapp/vendor/go.mau.fi/whatsmeow/types/events/appstate.go
  slidge_whatsapp/vendor/modules.txt
Due: build-ci, package, codeberg-pypi, pypi, codeberg-release

chore(copier): bump
  .copier-answers.yml
  .woodpecker/container.yaml
  .woodpecker/docs.yaml
  .woodpecker/package.yaml
  .woodpecker/test.yaml
  CONTRIBUTING.md
Due: build-ci, docs, publish

chore(pre-commit): bump
  .pre-commit-config.yaml
Due: none

chore(pre-commit): un-hardcode paths
  .pre-commit-config.yaml
Due: none

chore(pre-commit): use newer ruff hook id
  .pre-commit-config.yaml
Due: none

chore(pyproject): remove unused dev dependency, specify version for pybindgen
  pyproject.toml
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

style: use and apply ruff UP lint rule
  pyproject.toml
  slidge_whatsapp/config.py
  slidge_whatsapp/contact.py
  slidge_whatsapp/group.py
  slidge_whatsapp/session.py
Due: container-ci, build-ci, package, codeberg-pypi, pypi, codeberg-release, test

build: bump slidge core
  pyproject.toml
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

Path conditions:
  container-ci: any of: Dockerfile, pyproject.toml, uv.lock
  build-ci: any of: slidge_whatsapp/**, Dockerfile, pyproject.toml, .woodpecker/container.yaml
  docs: any of: slidge-whatsapp/**/*.py, docs/**/*, uv.lock, .woodpecker/docs.yaml
  publish: any of: slidge-whatsapp/**/*.py, docs/**/*, uv.lock, .woodpecker/docs.yaml
  package: any of: slidge_whatsapp/**/*, pyproject.toml, README.md
  codeberg-pypi: any of: slidge_whatsapp/**/*, pyproject.toml, README.md
  pypi: any of: slidge_whatsapp/**/*, pyproject.toml, README.md
  codeberg-release: any of: slidge_whatsapp/**/*, pyproject.toml, README.md
  test: any of: pyproject.toml, uv.lock, **/*.py
