Repository deuill/slidge-whatsapp: changes, and which Woodpecker steps are due for each by the changed paths.
All: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

container-ci:
  steps:
    build-and-push:
      image: woodpeckerci/plugin-docker-buildx
      settings:
        platforms: linux/${ARCH}
        repo: codeberg.org/${CI_REPO_OWNER}/woodpecker-${CI_REPO_NAME}
        registry: codeberg.org
        tag: ${PYTHON_VERSION}-${ARCH}
        target: woodpecker-${CI_REPO_NAME}
  ...

build-ci:
  image: woodpeckerci/plugin-docker-buildx:6.0.2
  settings:
    repo: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp
    username: ${CI_REPO_OWNER}
    password:
      from_secret: CODEBERG_TOKEN
    registry: codeberg.org
    target: ci
    cache_images:
  ...

docs:
  steps:
    build:
      image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-amd64
      pull: true
      commands:
      - uv sync --all-groups --all-extras
      - cd docs && make html
    publish:
      image: codeberg.org/slidge/woodpecker-publish-pages
      pull: true
      when:
        event:
        - push
  ...

publish:
  image: codeberg.org/slidge/woodpecker-publish-pages
  pull: true
  settings:
    token:
      from_secret: CODEBERG_TOKEN

package:
  steps:
    changelog:
      image: codeberg.org/slidge/woodpecker-generate-changelog
      pull: true
    build:
      image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-${ARCH}
      commands:
      - uv python install ${PYTHON_VERSION}
      - uv python pin ${PYTHON_VERSION}
      - uv build
    codeberg-pypi:
  ...

codeberg-pypi:
  image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-${ARCH}
  depends_on: build
  environment:
    CODEBERG_TOKEN:
      from_secret: CODEBERG_TOKEN
  commands:
  - uv publish --index codeberg --token $CODEBERG_TOKEN dist/*.whl
  ...

pypi:
  image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-${ARCH}
  depends_on: build
  environment:
    PYPI_TOKEN:
      from_secret: PYPI_TOKEN
  commands:
  - uv publish --token $PYPI_TOKEN dist/*.whl
  - uv publish --token $PYPI_TOKEN dist/*.tar.gz || echo "Failed to upload sdist."

codeberg-release:
  image: woodpeckerci/plugin-release
  depends_on:
  - changelog
  - build
  settings:
    files:
    - dist/slidge-whatsapp*
    api_key:
      from_secret: CODEBERG_TOKEN
    note: CHANGELOG

test:
  steps:
    update-venv:
      image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-amd64
      pull: true
      commands:
      - cp -r /venv .venv
      - uv sync --link-mode=copy --all-groups --all-extras
    ruff:
      image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-amd64
      depends_on: update-venv
  ...

ci: build wheels for python 3.14 too
  .copier-answers.yml
  .woodpecker/package.yaml
Due: none

fix: correctly set muc type to private groups
  slidge_whatsapp/group.py
Due: build-ci, test

ci: build wheels for python 3.14
  .copier-answers.yml
  .woodpecker/package.yaml
Due: none

chore(copier): update templated files
  .copier-answers.yml
  .woodpecker/docs.yaml
  .woodpecker/package.yaml
  CONTRIBUTING.md
Due: docs, publish

refactor: split Contact.update_wa_info() from Roster.add_wa_contact()
  slidge_whatsapp/contact.py
Due: build-ci, test

refactor: split Participant.update_wa_info() from MUC.update_wa_info()
  slidge_whatsapp/group.py
Due: build-ci, test

chore(lockfile): bump
  uv.lock
Due: container-ci, docs, publish, test

refactor: use MUC._ALL_INFO_FILLED_ON_STARTUP = True
  pyproject.toml
  slidge_whatsapp/group.py
  slidge_whatsapp/session.py
Due: container-ci, build-ci, package, codeberg-pypi, pypi, codeberg-release, test

refactor: remove useless roster handling
  pyproject.toml
  slidge_whatsapp/contact.py
  slidge_whatsapp/session.py
Due: container-ci, build-ci, package, codeberg-pypi, pypi, codeberg-release, test

refactor: remove dead code
  slidge_whatsapp/group.py
Due: build-ci, test

refactor: factorize/DRY up group and contact avatar handling
  slidge_whatsapp/avatar.py
  slidge_whatsapp/contact.py
  slidge_whatsapp/group.py
Due: build-ci, test

cfix(ac1f660a): actually yield from roster.fill()
  slidge_whatsapp/contact.py
Due: build-ci, test

fix: read markers in groups (and probably some other stuff too)
  pyproject.toml
  slidge_whatsapp/event.go
  slidge_whatsapp/group.py
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
  uv.lock
Due: container-ci, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

imprv: do not instantiate participant just to remove it
  slidge_whatsapp/group.py
  slidge_whatsapp/session.py
Due: build-ci, test

cfix(1ac00824): introduce Chat/Actor distinction
  slidge_whatsapp/contact.py
  slidge_whatsapp/event.go
  slidge_whatsapp/group.py
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
  uv.lock
Due: container-ci, build-ci, docs, publish, test

fix: allow re-login after QR scan times out
  slidge_whatsapp/session.go
Due: build-ci

refactor: use slidge core mention replacement helper
  slidge_whatsapp/group.py
  slidge_whatsapp/session.py
Due: build-ci, test

imprv: do not attempt to subscribe to presences of non-friends
  slidge_whatsapp/session.go
Due: build-ci

fix: mentions from XMPP on message correction
  slidge_whatsapp/session.py
Due: build-ci, test

fix: handle LID mentions
  slidge_whatsapp/event.go
  slidge_whatsapp/group.py
  tests/test_whatsapp.py
Due: build-ci, test

fix: possible deadlock on login failure
  slidge_whatsapp/session.py
Due: build-ci, test

imprv: do not attempt to subscribe to presences without a privacy token
  slidge_whatsapp/session.go
Due: build-ci

cfix(1ac00824): factorise MUC.get_participant_by_actor()
  slidge_whatsapp/group.py
Due: build-ci, test

cfix(1ac00824): get rid of getPreferredJID()
  slidge_whatsapp/event.go
  slidge_whatsapp/group.py
  slidge_whatsapp/session.go
Due: build-ci, test

perf(db): commit once after setting all contact and muc info
  slidge_whatsapp/contact.py
  slidge_whatsapp/group.py
Due: build-ci, test

refactor: split SubscribeToPresences from GetContacts()
  slidge_whatsapp/session.go
Due: build-ci

imprv: subscribe to presences only when slidge roster is ready
  slidge_whatsapp/contact.py
  slidge_whatsapp/session.go
Due: build-ci, test

refactor: split Session.handle_event()
  slidge_whatsapp/session.py
Due: build-ci, test

perf: do not block startup to fetch avatars
  slidge_whatsapp/avatar.py
  slidge_whatsapp/event.go
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
Due: build-ci, test

fix: set SQLAlchemy pool size above max number of threads
  slidge_whatsapp/gateway.py
Due: build-ci, test

Path conditions:
  container-ci: any of: Dockerfile, pyproject.toml, uv.lock
  build-ci: any of: slidge_whatsapp/**, Dockerfile, pyproject.toml, .woodpecker/container.yaml
  docs: any of: slidge-whatsapp/**/*.py, docs/**/*, uv.lock, .woodpecker/docs.yaml
  publish: any of: slidge-whatsapp/**/*.py, docs/**/*, uv.lock, .woodpecker/docs.yaml
  package: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  codeberg-pypi: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  pypi: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  codeberg-release: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  test: any of: pyproject.toml, uv.lock, **/*.py
