Repository deuill/slidge-whatsapp: changes, and which Woodpecker steps are due for each by the changed paths.
All: container-ci, container, build-tag, build-branch, build-ci, docs, publish, package, codeberg-pypi, pypi, codeberg-release, test

container-ci:
  steps:
    build-and-push:
      image: woodpeckerci/plugin-docker-buildx
      settings:
        platforms: linux/${ARCH}
        repo: codeberg.org/${CI_REPO_OWNER}/woodpecker-${CI_REPO_NAME}
        registry: codeberg.org
        tag: ${PYTHON_VERSION}-${ARCH}
        target: woodpecker-${CI_REPO_NAME}
  ...

container:
  steps:
    build-tag:
      image: woodpeckerci/plugin-docker-buildx
      when:
        event:
        - tag
      settings:
        repo: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp
        username: ${CI_REPO_OWNER}
        password:
          from_secret: CODEBERG_TOKEN
        registry: codeberg.org
  ...

build-tag:
  image: woodpeckerci/plugin-docker-buildx
  settings:
    repo: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp
    username: ${CI_REPO_OWNER}
    password:
      from_secret: CODEBERG_TOKEN
    registry: codeberg.org
    target: slidge-whatsapp
    cache_images:
  ...

build-branch:
  image: woodpeckerci/plugin-docker-buildx
  settings:
    repo: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp
    username: ${CI_REPO_OWNER}
    password:
      from_secret: CODEBERG_TOKEN
    registry: codeberg.org
    target: slidge-whatsapp
    cache_images:
  ...

build-ci:
  image: woodpeckerci/plugin-docker-buildx
  settings:
    repo: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp
    username: ${CI_REPO_OWNER}
    password:
      from_secret: CODEBERG_TOKEN
    registry: codeberg.org
    target: ci
    cache_images:
  ...

docs:
  steps:
    build:
      image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-amd64
      pull: true
      commands:
      - uv sync --all-groups --all-extras
      - cd docs && make html
    publish:
      image: codeberg.org/slidge/woodpecker-publish-pages
      pull: true
      when:
        event:
        - push
  ...

publish:
  image: codeberg.org/slidge/woodpecker-publish-pages
  pull: true
  settings:
    token:
      from_secret: CODEBERG_TOKEN

package:
  steps:
    changelog:
      image: codeberg.org/slidge/woodpecker-generate-changelog
      pull: true
    build:
      image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-${ARCH}
      commands:
      - uv python install ${PYTHON_VERSION}
      - uv python pin ${PYTHON_VERSION}
      - uv build
    codeberg-pypi:
  ...

codeberg-pypi:
  image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-${ARCH}
  depends_on: build
  environment:
    CODEBERG_TOKEN:
      from_secret: CODEBERG_TOKEN
  commands:
  - uv publish --index codeberg --token $CODEBERG_TOKEN dist/*.whl
  ...

pypi:
  image: codeberg.org/${CI_REPO_OWNER}/slidge-whatsapp:ci-${ARCH}
  depends_on: build
  environment:
    PYPI_TOKEN:
      from_secret: PYPI_TOKEN
  commands:
  - uv publish --token $PYPI_TOKEN dist/*.whl
  - uv publish --token $PYPI_TOKEN dist/*.tar.gz || echo "Failed to upload sdist."

build(lockfile): automatic update
  uv.lock
Due: container-ci, container, build-tag, build-branch, build-ci, docs, publish, test

fix: Reset timestamps for converted Opus media
  Dockerfile
  slidge_whatsapp/event.go
  slidge_whatsapp/media/media.go
Due: container-ci, container, build-tag, build-branch, build-ci

chore: Enable debug logging for dev containers
  .copier-answers.yml
  Dockerfile
Due: container-ci, container, build-tag, build-branch, build-ci

feat: Add support for video notes
  slidge_whatsapp/event.go
  slidge_whatsapp/media/media.go
Due: none

Prioritize not anonymized JIDs from incoming events
  slidge_whatsapp/event.go
  slidge_whatsapp/session.go
Due: none

Path conditions:
  container-ci: any of: Dockerfile, pyproject.toml, uv.lock
  container: any of: slidge-whatsapp/**, Dockerfile, pyproject.toml, uv.lock
  build-tag: any of: slidge-whatsapp/**, Dockerfile, pyproject.toml, uv.lock
  build-branch: any of: slidge-whatsapp/**, Dockerfile, pyproject.toml, uv.lock
  build-ci: any of: slidge-whatsapp/**, Dockerfile, pyproject.toml, uv.lock
  docs: any of: slidge-whatsapp/**/*.py, docs/**/*, uv.lock, .woodpecker/docs.yaml
  publish: any of: slidge-whatsapp/**/*.py, docs/**/*, uv.lock, .woodpecker/docs.yaml
  package: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  codeberg-pypi: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  pypi: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  codeberg-release: any of: slidge-whatsapp/**/*, pyproject.toml, README.md
  test: any of: pyproject.toml, uv.lock, **/*.py
