Repository deuill/slidge-whatsapp: changes, and which Woodpecker steps are due for each by the changed paths.
All: container, build, build-and-push, package, codeberg-pypi

container:
  steps:
    version:
      image: codeberg.org/slidge/woodpecker-version
      pull: true
    build:
      image: woodpeckerci/plugin-docker-buildx
      settings:
        registry: codeberg.org
        tags_file: .tags
        target: ${CI_REPO_NAME}
        platforms: linux/amd64
        dry_run: true
      when:
  ...

build:
  image: woodpeckerci/plugin-docker-buildx
  settings:
    registry: codeberg.org
    tags_file: .tags
    target: ${CI_REPO_NAME}
    platforms: linux/amd64
    dry_run: true

build-and-push:
  image: woodpeckerci/plugin-docker-buildx
  settings:
    registry: codeberg.org
    tags_file: .tags
    target: ${CI_REPO_NAME}
    platforms: linux/amd64
    repo: codeberg.org/${CI_REPO_OWNER}/${CI_REPO_NAME}
    username: ${CI_REPO_OWNER}
    password:
      from_secret: CODEBERG_TOKEN

package:
  steps:
    version:
      image: codeberg.org/slidge/woodpecker-version
    changelog:
      image: codeberg.org/slidge/woodpecker-generate-changelog
      pull: true
    build:
      image: codeberg.org/slidge/woodpecker-${CI_REPO_NAME}
      commands: uv build
    codeberg-pypi:
      when:
        event: push
  ...

codeberg-pypi:
  image: codeberg.org/slidge/woodpecker-${CI_REPO_NAME}
  environment:
    CODEBERG_TOKEN:
      from_secret: CODEBERG_TOKEN
  commands:
  - uv publish --index codeberg --token $CODEBERG_TOKEN

Remove empty lines from group subjects
  slidge_whatsapp/group.py
Due: container, build, build-and-push, package, codeberg-pypi

chore: update dependencies
  slidge_whatsapp/go.mod
  slidge_whatsapp/go.sum
  uv.lock
Due: container, build, build-and-push, package, codeberg-pypi

Update dependencies to latest versions
  Dockerfile
  pyproject.toml
  slidge_whatsapp/go.mod
  slidge_whatsapp/go.sum
  uv.lock
Due: container, build, build-and-push, package, codeberg-pypi

build: include non-conventional commits in generated changelog
  pyproject.toml
Due: container, build, build-and-push, package, codeberg-pypi

build: add link to commits in changelog
  pyproject.toml
Due: container, build, build-and-push, package, codeberg-pypi

ci: disable arm64 builds
  .woodpecker/package-tag.yaml
Due: none

media: Pass source MIME type to `Convert` call
  slidge_whatsapp/event.go
  slidge_whatsapp/media/media.go
Due: container, build, build-and-push, package, codeberg-pypi

docs: fix broken links
  README.md
  docs/source/conf.py
  docs/source/config.rst
  pyproject.toml
Due: container, build, build-and-push, package, codeberg-pypi

fix: group affiliation change
  slidge_whatsapp/group.py
Due: container, build, build-and-push, package, codeberg-pypi

docs(readme): fix container repo
  README.md
Due: none

fix: catch all exceptions on preview generation
  slidge_whatsapp/session.py
Due: container, build, build-and-push, package, codeberg-pypi

build(deps): bump lockfile
  uv.lock
Due: container, build, build-and-push, package, codeberg-pypi

fix(group): affiliation changes
  slidge_whatsapp/group.py
Due: container, build, build-and-push, package, codeberg-pypi

fix(group): number of participants before first join
  slidge_whatsapp/group.py
Due: container, build, build-and-push, package, codeberg-pypi

fix(room avatar): do not unset when WA responds "no change"
  slidge_whatsapp/group.py
Due: container, build, build-and-push, package, codeberg-pypi

fix(contact avatar): do not unset when WA responds "no change"
  slidge_whatsapp/contact.py
Due: container, build, build-and-push, package, codeberg-pypi

chore(deps): update slidge core
  uv.lock
Due: container, build, build-and-push, package, codeberg-pypi

Fix avatar handling when no change is detected
  slidge_whatsapp/contact.py
  slidge_whatsapp/group.py
  slidge_whatsapp/session.go
Due: container, build, build-and-push, package, codeberg-pypi

ci(docs): fix building docs
  .woodpecker/docs.yaml
  Dockerfile
Due: container, build, build-and-push

Improve handling of Communities
  slidge_whatsapp/event.go
  slidge_whatsapp/gateway.go
  slidge_whatsapp/group.py
  slidge_whatsapp/session.go
  slidge_whatsapp/session.py
Due: container, build, build-and-push, package, codeberg-pypi

fix: broadcast nick, avatar and presence of newly added contacts
  slidge_whatsapp/session.py
Due: container, build, build-and-push, package, codeberg-pypi

ci: cronjob to automatically bump python dependencies
  .woodpecker/autoupdate-deps.yaml
  .woodpecker/container-cache.yaml
  .woodpecker/container-ci.yaml
Due: none

ci: disable arm64 build cache
  .woodpecker/container-cache.yaml
Due: none

build(deps): specify slidge < 0.3
  pyproject.toml
  uv.lock
Due: container, build, build-and-push, package, codeberg-pypi

build(deps): remove pybindgen of runtime deps
  pyproject.toml
  uv.lock
Due: container, build, build-and-push, package, codeberg-pypi

Correctly reset gateway status after reconnect
  slidge_whatsapp/session.py
Due: container, build, build-and-push, package, codeberg-pypi

build(lockfile): automatic update
  uv.lock
Due: container, build, build-and-push, package, codeberg-pypi

ci: fail on ruff format error
  .woodpecker/test.yaml
Due: none

ci: make venv relocatable
  Dockerfile
Due: container, build, build-and-push

ci: install pybindgen in container
  Dockerfile
Due: container, build, build-and-push

Add basic support for sender-sent albums
  slidge_whatsapp/event.go
  slidge_whatsapp/session.py
Due: container, build, build-and-push, package, codeberg-pypi

Implement basic, read-only support for polls
  slidge_whatsapp/event.go
  slidge_whatsapp/session.py
Due: container, build, build-and-push, package, codeberg-pypi

Update Go dependencies
  slidge_whatsapp/go.mod
  slidge_whatsapp/go.sum
  slidge_whatsapp/session.go
Due: container, build, build-and-push, package, codeberg-pypi

Path conditions:
  container: any of: slidge_whatsapp/**/*, pyproject.toml, uv.lock, Dockerfile
  build: any of: slidge_whatsapp/**/*, pyproject.toml, uv.lock, Dockerfile
  build-and-push: any of: slidge_whatsapp/**/*, pyproject.toml, uv.lock, Dockerfile
  package: any of: slidge_whatsapp/**/*, pyproject.toml, uv.lock
  codeberg-pypi: any of: slidge_whatsapp/**/*, pyproject.toml, uv.lock
